/* body{
margin:0;
font-family:Arial;
display:flex;
background: #ffe6ec;
} */
body{
margin:0;
font-family:Arial;
display:flex;
background: #ffe6ec;   /* keep this */
}


/* Sidebar */

.sidebar{
width:300px;
height:100vh;
background: #f5b5c1;
color:white;
padding-top:20px;
}





.sidebar a{
color:white;
text-decoration:none;
display:block;

}

.sidebar a:hover{

color:white;
}









.sidebar h2{
text-align:center;
margin-bottom:20px;
}

.sidebar ul{
list-style:none;
padding:0;
}

.sidebar ul li{
padding:15px 20px;
cursor:pointer;
transition:0.3s;
}

.sidebar ul li:hover{
background: #c45a6d;
}

.active{
background: #c45a6d;
}




/* .main{
flex:1;
padding:30px;
background:#f4f6f9;
} */
.main{
flex:1;
padding:30px;
background: transparent;   /* 🔥 IMPORTANT */
}

.add-product{
margin-bottom:20px;
}

.add-product input{
padding:10px;
margin-right:10px;
border:1px solid #ccc;
border-radius:5px;
}

.add-product button{
padding:10px 15px;
background:#7a3e4d;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

.product-table{
background:white;
padding:20px;
border-radius:8px;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

table{
width:100%;
border-collapse:collapse;
}

th{
background:#7a3e4d;
color:white;
padding:12px;
text-align:left;
}

td{
padding:12px;
border-bottom:1px solid #eee;
}

.delete-btn{
background:#dc3545;
color:white;
border:none;
padding:6px 12px;
border-radius:4px;
cursor:pointer;
}